/*
*= require_self
*= require_tree /fonts/
*= encoding UTF-8
*/
@import url('theme.css');
div.layoutBody{
	margin-top:50px;
}
.footer{
	margin-top:3em;
	text-align:center;

}
.centered{
    float: none;
    margin: 0 auto;	
}
.glyphicon{
	margin-right:3px;
}
.input-group-addon a{
	color: red;

}
.ingredients-list .input-group-addon{
	width:50%;
}
.ingredients-list{
	list-style:none;
	margin:0;

}
.ingredients-choice li{
	margin-left: 2em;
	margin-top:0.5px;
}
.ingredients-choice li .glyphicon{
	margin-right: 1em;

}

.button-symbol{
	font-size:175%;
}
.button-symbol:hover{
	cursor:pointer;
}
.add-ingredient{
	font-size:120%;
}
.highlight-li li:hover{
	background:rgba(10,10,10,0.1)
}
